*{
    margin:0;
padding: 0px;
box-sizing: border-box;


}


.inizio {
    
width: 100%;
margin: 0px auto;
}

#header {
    width: 100%;
    height: 150px;
    background-color: rgb(214, 227, 243);
    padding: 30px;
    display: flex ;
    align-items: center;
}

#header img{
width: 200px;
height: 200px;
border-radius: 50%;
position: absolute;
margin-top: 60px;
left: 7em;
border: 4px solid rgb(243, 236, 236);
transition: 3s;

}

.iniziotext {
    font-size: 20px;
    color: rgb(230, 230, 243);
    font-family: Georgia, 'Times New Roman', Times, serif;
position: relative;
left: 45%;

}

.iniziotext h2 {
    font-size: 30px;
    padding-left: 50px;
    padding-top: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 50px;
color: white;

}

.iniziotext h3 {
    margin-top: 30px;
    padding-left: 20px;
    padding-bottom: 50px;
    color: teal;
    font-style: italic
    ;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
 
}
section {

    display: flex;
    flex-basis: 100px;
    flex-wrap: wrap;
}

.left {
 width: 30%;
 min-width: auto;
 background: white;
 border: 1px solid rgb(235, 230, 230);
}


.right {

width: 70%;
min-width: auto;
 background-color: rgb(255, 240, 241) 

}

.Contact{

margin-top: 0;
text-align: center; 
padding-top: 20%; 
padding-bottom: 20%;
border-bottom: 2px solid rgb(44, 42, 42);
}

.Contact h2 {
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 40px;
color: rgb(12, 2, 32);
padding-bottom: 30px;
text-decoration: underline;

}
.Contact h3 {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(12, 2, 32);
    padding-bottom: 30px;
}
.Contact p {
    font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: 600;
padding-bottom: 30px;


}


.Skills {

    margin-top: 0;
    text-align: center; 
    padding-top: 10%; 
    padding-bottom: 20%; 
    border-bottom: 2px solid rgb(44, 42, 42) ;

    }
    
    .Skills h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(12, 2, 32);
    padding-bottom: 30px;
    text-decoration: underline;
    
    }
    
    .Skills p {
        font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 40px;
    text-align: left;
}

    #progress {
border:  1px solid black;
background-color:gray;
border-radius: 20px;
height: 8px;
width: 90%;
padding-left: 3px;
margin-left: 20px;
    }

    #progress::after {
       content:"";
        display: block;
        background-color: rgb(31, 28, 22);
        border-radius: 12px;
        height: 10px;
        width: 50%;
    }   

    .Languages {
        border-bottom: 2px solid rgb(44, 42, 42);

    }
    .Languages h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 40px;
        color: rgb(12, 2, 32);
        padding-bottom: 30px;
        padding-top: 10%;
        text-decoration: underline;
        text-align: center;
        
    }

    .Languages ul li {
        padding-top: 60px;
        padding-bottom: 30px;
        padding-left: 30px;
        text-decoration: none;
        text-size-adjust: 20px;
        font-size: 30px; 
    }
    .right h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 40px;
        color: rgb(0, 0, 0);
        padding-bottom: 30px;
        text-align: left;
        padding-top: 100px;
        margin-left: 40px;
    }
    .right p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 100;
        padding-bottom: 30px;
        padding-top: 30px;
        padding-left: 50px;
      

    }

    .Education h2 {
    
        text-align: left;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: 40px;

    }
    .Education h3 {

        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 25px;
        text-decoration: none;
        text-align: left;
        padding-left: 120px;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .Education p {
        font-size: 20px;
        padding-bottom: 50px;
        padding-left: 40px;
    
    }
    hr {
        width: 1000px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .WorkExperience, h3 {

        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 25px;
        text-decoration: none;
        text-align: left;
        padding-left: 120px;
        padding-top: 20px;
        padding-bottom: 20px;
 }
        .Hobbies i {
         justify-content: space-between;
         font-size: 30px;
         padding-top: 40px;
         padding-left: 30px;
         
        }

   
    .button {

        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #footer {
        width: 100%;
        height: 25%;
        background-color: rgb(177, 207, 243);
        display: flex;
        flex-direction: row;
       
       
    

    }
    .footer-social {

      text-align: end;
        width: 55%;
    }
    .footer-nav ul a,
    .footer-social ul a {
       
        text-decoration: none;
        font-size: 2.5em;
        color: rgb(17, 11, 70);
      
    }
 
  

    


    


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
}